<% include partials/_header %>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
      <div class="wrapper wrapper--w900">
          <div class="card card-6">
              <div class="card-heading">
                  <h2 class="title">Message Board</h2>
              </div>
              <div class="card-body">
                <div class="card-footer">
                    <a class="btn btn--radius-2 btn--blue-2" role="button" href='/new'>Add message</a>
                </div>
                    <% message.forEach(function(x){ %>
                         <div class="form-row">
                           
                            <div class="name"><%= x.user %></div>
                            <p><%= x.text %></p>
                            
                            
                        </div>
                        <div class='delt'>
                            <a class="btnRed" href="/delete/<%= x.id %>" >Delete</a>
                        </div>
                    <%})%>                                  
              </div>       
          </div>
      </div>      
    </div>
  </div>  
<% include partials/_footer %>
