<% include partials/_header %>
    
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
      <div class="wrapper wrapper--w900">
          <div class="card card-6">
              <div class="card-heading">
                  <h2 class="title">Message Board</h2>
              </div>
              <div class="card-body">
                  <form action="/new" method="POST" >
                      <div class="form-row">
                          <div class="name">Full name</div>
                          <div class="value">
                              <input class="input--style-6" type="text" name="full_name" id='full_name'>
                          </div>
                      </div>
                      <div class="form-row">
                        <div class="name">Image URL</div>
                        <div class="value">
                            <input class="input--style-6" type="url" name="image_url">
                        </div>
                      </div>
                      
                      <div class="form-row">
                          <div class="name">Message</div>
                          <div class="value">
                              <div class="input-group">
                                  <textarea class="textarea--style-6" name="message" placeholder="Message sent to the employer" id='message'></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer">
                        <button class="btn btn--radius-2 btn--blue-2" type="submit">Send Application</button>
                      </div>
                     
                  </form>
              </div>
              
          </div>
      </div>
      
        
    </div>

  </div>
  

<% include partials/_footer %>